In [1]:
 print('hello')

hello

In [3]:
print(1+1)

2

In [4]:
print('hello')

hello

In [6]:
#shift Enter #Alt Enter (Input cell for you) #Mark down Cell

In [7]:
2**4

16

In [8]:
num = 12
name = 'Sam'

In [12]:
'My Number is {} and my name is {} and another more is {}'.format(num,name,num)

'My Number is 12 and my name is Sam and another more is 12'

In [11]:
print("My name is {} and i am {} years old".format(name, num)) # The Out shit is no longer there.

My name is Sam and i am 12 years old

In [13]:
newString = "antagonistic"
newString[:3]

'ant'

In [14]:
newString[3:9]

'agonis'

In [15]:
#list are in square Brackets and they are Seperated by "," and they are 
#enclosed in square Brackets

In [16]:
my_list = ['a','b','c']

In [17]:
my_list.append('d')

In [18]:
my_list

['a', 'b', 'c', 'd']

In [19]:
my_list[0]

'a'

In [20]:
my_list[1:3]

['b', 'c']

In [21]:
my_list[0] = 'New'

In [22]:
my_list

['New', 'b', 'c', 'd']

In [23]:
#You can nest list inside each other

In [25]:
nest = [1,2,[3,4]] # And so lets assume we want to grab 4

In [26]:
nest[2]

[3, 4]

In [29]:
nest[2][1] # The slicing stuff is different from the loc and iloc we have 
#A starting index and the next thing after the colon is the element to not be included and after we can optionally include the Step Sequencec

4

In [30]:
#Specify Dictionaries with "curly Bracecs and also include the key followed by colon and then value"

In [31]:
d = {'key1':'value', 'key2':123}

In [32]:
d['key1']

'value'

In [33]:
d['key2']

123

In [34]:
#Dictionaries can take in any item as their values

In [35]:
d = {'k1':{'innerkey':[1,2,3]}}

In [36]:
d['k1']['innerkey'][1] # This would be to access the number 2

2

In [38]:
#Tuple is similar to a list just that with tuples we make use of parenthesis instead
#of the usual square brackets which is being used in lists
#Also tuples are immutable

In [39]:
# A set is a colleection of unique  elements ... we se the curly braces . it is 
#different from a dictionary in the sense that a set does not have a colon.

In [40]:
name = "Akindele"

In [42]:
if(name == 'Adedotun'):
    print("This is invalid")
elif(name == 'Akindele'):
    print("Welcome on board {}".format(name))
else:
    print("Please who are you and where do you come from? ")

Welcome on board Akindele

In [44]:
 a = {2,2,2,2,5}

In [45]:
a

{2, 5}

In [46]:
#and as we know it that a is a set. its so obvious and also sets have unique elements

In [47]:
# And now we are going to be going over for loops and while loops

In [48]:
seq = [1,2,3,4,5]

In [49]:
for item in seq:
    print(item)

1
2
3
4
5

In [50]:
empty_list = []

for check in seq:
    empty_list.append(2**check)

In [51]:
empty_list

[2, 4, 8, 16, 32]

In [52]:
#A much more advanced and clean way to implement the empty list stuff 
out = [2**check for check in seq]

In [53]:
out

[2, 4, 8, 16, 32]

# Functions

In [56]:
# the keyword for a funtion is def and it allow us to define a function

In [80]:
def initial_function(param1):
    print("Hello " + param1)

In [81]:
initial_function("Dotun")

Hello Dotun

In [86]:
def square(num):
    return num**2
"""
This is a DocString 
can go Multiple Lines 
The Function returns the square of a number
"""

'\nThis is a DocString \ncan go Multiple Lines \nThe Function returns the square of a number\n'

In [83]:
output = square(2)

In [84]:
output

4

In [85]:
#Functions can have documentation strings ... using triple enclosing quotes
# you can make use of the shortcut (Shift  + Tab)

In [90]:
for xyz in range(0,7,2):
    print(xyz)

0
2
4
6

In [91]:
# Map Function

In [92]:
seq = [1,2,3,4,5]

In [93]:
#Imagine we have a function and we want to apply the function to every member
#of a list, how do we go about it ?

In [94]:
def myNewFunction(var):
    return var ** 2

In [95]:
# we say map and then pass in a function and the sequencec we want to map to

In [97]:
map(myNewFunction, seq)

In [98]:
seq

[1, 2, 3, 4, 5]

In [99]:
#and now we can see how easy the mapping stuff is

In [100]:
def myFunctio(material):
    return material + 2

In [101]:
new_sequence = [1,2,3,4]

In [103]:
list(map(myFunctio,new_sequence))

[3, 4, 5, 6]

In [104]:
# Lamda Expressions and their goodies ..

In [105]:
# and for the lamda expression, we just eliminate stuff like the def keyword the name of the function and the return type of the function .. its that simple easy and straight forward.

In [109]:
list(map(lambda charles:charles ** 2,new_sequence))

[1, 4, 9, 16]

In [108]:
new_sequence

[1, 2, 3, 4]

In [110]:
# So for the lambda Expression, how do we go about it ?

In [111]:
list(map(lambda sexy: sexy + 3, new_sequence))

[4, 5, 6, 7]

In [113]:
# filter: pass in either a function or lambda expression that returns a boolean
# value ... Recall it should return a value

In [114]:
 list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [115]:
s = "hello my name is Sam"

In [116]:
s.lower()

'hello my name is sam'

In [117]:
s.upper()

'HELLO MY NAME IS SAM'

In [118]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [119]:
tweet = "Go Sports! #Sports"

In [120]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [122]:
tweet.split("#")[1]

'Sports'

In [123]:
d = {'k1':1,'k2':2}

In [124]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [125]:
d.values()

dict_values([1, 2])

In [126]:
lst = [1,2,3]

In [127]:
lst.pop()

3

In [128]:
lst

[1, 2]

In [129]:
lst = [1,2,3,4,5]
item = lst.pop()

In [130]:
item

5

In [131]:
lst

[1, 2, 3, 4]

In [132]:
lst.pop(1) # i am expecting this thing to return 2

2

In [133]:
'x' in [1,2,3]

False

In [134]:
'x' in ['x','y','z']

True

In [1]:
range(5)

range(0, 5)

In [2]:
arr = range(5)

In [3]:
list(arr)

[0, 1, 2, 3, 4]